$color-accent: #F4B058
$color-text: #000000
$color-text-alt: #454545
$color-border: rgba(0, 0, 0, 0.30)
$color-background-alt: #F2F2F2
$color-background: #FFFFFF

$body-font-family: "Raleway", sans-serif
$heading-font-family: "Merriweather", serif

$h1-weight: normal
$h3-weight: normal

$header-color: $color-background
$header-background: $color-text
$header-dropdown-color: $header-color
$header-sticky-background: $header-background
$header-sticky-color: $header-color
$header-logo-height: 32px
$header-logo-height-desktop: 50px
$header-border-bottom-width: 0
$hero-background-color: none
$footer-color: $color-background
$footer-background-color: $color-text
