$orange-main: #F6BF69
$orange-text: #FC9E0A
$black: #000000
$light-grey:  #F2F2F2
$white: #FFFFFF

$color-accent: $orange-text
$color-text: $black
$color-text-alt: #454545
$color-border: $white
$color-background-alt: $light-grey
$color-background: $white

$header-color: $color-background
$header-background: $color-text
$header-dropdown-color: $header-color
$header-sticky-background: $header-background
$header-sticky-color: $header-color
$header-logo-height: 32px
$header-logo-height-desktop: 50px
$header-border-bottom-width: 0


$hero-background-color: $orange-main


$footer-color: $color-background
$footer-background-color: $color-text

$block-space-y-desktop: var(--spacing-6)
$block-space-y: var(--spacing-4)

$body-font-family: "Raleway", sans-serif
$body-size-desktop: pxToRem(21) 
$body-line-height: 165%

$heading-font-family: "Merriweather", serif
$small-size-desktop: $body-size-desktop
$meta-size-desktop: pxToRem(18)

$meta-font-family: $body-font-family
$signature-font-family:  $body-font-family
$signature-size-desktop: $meta-size-desktop

$h1-weight: normal
$h1-size-desktop: pxToRem(82)

$h2-size-desktop: pxToRem(57)

$lead-font-family: $body-font-family
$lead-size-desktop: pxToRem(37)
$lead-hero-size-desktop: pxToRem(37)

$h3-size-desktop: pxToRem(30)
$h3-line-height: 140%
$h3-weight: normal

$h5-font-family: $body-font-family
$h5-size-desktop: pxToRem(37)
$h5-text-transform: none
$block-call-to-action-background: $black
$btn-font-family: $body-font-family
$block-call-to-action-button-background: none
$block-call-to-action-button-hover-background: $orange-main
$block-call-to-action-button-color: $color-background   
$btn-border: pxToRem(1) solid $color-border
$btn-hover-border: pxToRem(1) solid transparent
$btn-border-radius: pxToRem(45)
$btn-padding: pxToRem(6) pxToRem(20) 
$btn-padding-desktop: pxToRem(10) pxToRem(30) !default