header#document-header
    left: $spacing-2
    right: $spacing-2
    top: $spacing-2
    width: auto
    border-radius: 5px
    .container
        padding-left: 30px
        padding-right: 30px

.blocks 
    .block-chapter--alt_background
        background: none
        @include full-page
            font-size: pxToRem(36)
            line-height: 150%
            .chapter
                .text
                    width: columns(10)

.block-pages 
    .grid,
    .cards,
    .list
        article 
            .media
                img
                    object-fit: contain
.post 
    .media 
        img
            aspect-ratio: 3/4

body.full-image.page__home
    @include media-breakpoint-up(desktop)
        .hero
            background: #000000
            z-index: 0
            position: relative
            overflow: hidden
            height: 90vh
            max-height: none
            // max-height: 400px
            &::after,
            .content hgroup, 
            .content > h1,
            .breadcrumb
                transition: opacity 2s ease
            &::after
                z-index: -1
                content: ""
                background: linear-gradient(0deg, rgba(0,0,0,0.8) 20%, rgba(0,0,0,.2) 40%)
                position: absolute
                left: 0
                top: 0
                right: 0
                bottom: 0
            &:hover
                .content hgroup,
                .content > h1,
                .breadcrumb
                    opacity: 0.1
                &::after
                    opacity: 0
            .breadcrumb-nav
                position: absolute
                bottom: $spacing-4
                *, *:before
                    color: white !important
            .content
                hgroup,
                > h1,
                .breacrumbs
                    position: absolute
                    bottom: $spacing-6
                    color: white
                figure
                    width: 100%
                    z-index: -1
                    position: absolute
                    left: 0
                    top: 0
                    right: 0
                    bottom: 0
                    img
                        width: 100%
                        height: 100%
                        object-fit: cover