header#document-header
    left: $spacing0
    right: $spacing0
    top: $spacing0
    width: auto
    border-radius: 5px
    .container
        padding-left: 30px
        padding-right: 30px

.blocks 
    .block-chapter--alt_background
        background: none
        @include full-page
            font-size: px2rem(36)
            line-height: 150%
            .chapter
                .text
                    width: col(10)

.post 
    .media 
        img
            aspect-ratio: 3/4