header#document-header
    left: $spacing0
    right: $spacing0
    top: $spacing0
    width: auto
    border-radius: 5px
    .container
        padding-left: 30px
        padding-right: 30px

.blocks 
    .block-chapter--alt_background
        @include full-page
            background: none
            font-size: px2rem(36)
            line-height: 150%
            .chapter
                // width: col(10)