<div class="container">
  <div class="footer-site">
    <h2>Contact Us</h2>
    {{ partial "footer/site.html" }}
    <span class="email">
      <a href="mailto:pgilab@uvigo.gal" rel="noreferrer" title="Email">pgilab@uvigo.gal</a>
    </span>
  </div>
  <div class="footer-social">
    <h2>Follow Us</h2>
    {{ partial "footer/social.html" }}
  </div>
    {{ partial "footer/partners.html" . }}
</div>
<div class="container">
  <div class="footer-legals">
    {{ partial "footer/legals.html" }}
    {{ partial "footer/credit.html" }}
  </div>
</div>

