.post 
    .media 
        transition: background 0.3s
        background-color: #808080
        img
            aspect-ratio: 3/4
            // Problem on http://localhost:1313/news/
            // mix-blend-mode: overlay
    &:active, &:hover
        .media 
            background-color: #F4B058