.post 
    .media 
        picture
            display: block
            transition: background 0.3s
            background-color: #808080 !important
            img
                mix-blend-mode: overlay
    &:active, &:hover
        .media 
            picture
                background-color: #F4B058 !important